<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	<title>
		<%= title %> - Thunderbolt
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" href="/css/kiv.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5 mb-20">


				<div class="container mx-auto">
					<!-- Content goes here-->

					<div class="control_card card card-border w-full bg-base-100 shadow-xl">
						<div class="card-body relative flex flex-wrap overflow-x-hidden">
							<div class="flex w-full justify-between">
								<div class="flex items-center">
									<!-- <div class="flex-none">
										<label class="select select-sm w-44">
											<span class="label"><i class="h-5 w-5" data-lucide="list-filter"></i></span>
											<select onchange="filterValueChanged(this)">
												<option></option>
												<option>Name</option>
												<option>Week Added</option>
												<option>Zone</option>
												<option>City</option>
												<option>Chatting</option>
												<option>Social Media</option>
												<option>Info</option>
												<option>Reinfo</option>
												<option>Meetup</option>
												<option>Invi</option>
												<option>Plan</option>
											</select>
										</label>
									</div>
									<div class="option flex-none ml-1 hidden">
										<label id="sortName" class="input input-sm">
											<input type="text" placeholder="search a name.." />
										</label>
									</div>
									<div class="option flex-none ml-1 hidden">
										<label id="sortWeek" class="select select-sm">
											<span class="label">Week</span>
											<select>
											</select>
										</label>
									</div>
									<div class="option flex-none ml-1 hidden">
										<label id="sortZone" class="select select-sm">
											<select>
												<option>Office</option>
												<option>PG</option>
												<option>School</option>
												<option>College</option>
												<option>Others</option>
											</select>
										</label>
									</div>
									<div class="option flex-none ml-1 hidden">
										<label id="sortCity" class="input input-sm">
											<input type="text" placeholder="search a city.." />
										</label>
									</div>
									<div class="option flex-none ml-1 hidden">
										<label id="sortDonePending" class="select select-sm">
											<select>
												<option>Done</option>
												<option>Pending</option>
											</select>
										</label>
									</div> -->
									<!--Search button goes here-->
									<!-- <div class="flex-none ml-1">
										<button class="btn btn-sm btn-soft btn-success">
											<i class="h-5 w-5 " data-lucide="search"></i>
											<span class="loading loading-bars loading-sm text-accent hidden"></span>
										</button>
									</div>
									<div class="flex-none ml-3">


									</div> -->

								</div>
								<div class="flex justify-self-end">
									<button class="btn btn-sm btn-primary p-0 h-8 w-8"
										onclick="addPersonModal.showModal()"><i class="h-5 w-5"
											data-lucide="plus"></i></button>

								</div>
							</div>


							<div class="overflow-x-auto w-full mt-2 pb-2">
								<table class="table table-xs table-pin-cols table-zebra">
									<thead data-theme="light">
										<tr>
											<td></td>
											<th class="text-center pt-3">Name</th>
											<td class="text-center pt-3">Week added</td>
											<td class="text-center pt-3">Zone</td>
											<td class="text-center pt-3">City</td>
											<td class="text-center pt-3 bl">Chatting</td>
											<td class="text-center pt-3">Social Media</td>
											<td colspan="3" class="text-center pt-3 bl br bb">Info</td>
											<!-- <td>Info week</td>
									  <td>Response</td> -->
											<td colspan="3" class="text-center pt-3 bl br bb">Reinfo</td>
											<!-- <td>Reinfo week</td>
									  <td>Response</td> -->
											<td class="text-center pt-3">Meetup</td>
											<td colspan="3" class="text-center pt-3 bl br bb">Invite</td>
											<!-- <td>Invite week</td>
									  <td>Invite status</td> -->
											<td colspan="3" class="text-center pt-3 bl br bb">Plan</td>
											<!-- <td>Plan week</td>
									  <td>Plan status</td> -->
											<td class="text-center pt-3">Remarks</td>
											<td></td>
										</tr>
										<tr>
											<td class="bb"></td>
											<th class="bg-primary bb"></th>
											<td class="bb"></td>
											<td class="bb"></td>
											<td class="bb"></td>
											<td class="bl bb"></td>
											<td class="bb"></td>
											<td class="text-center pb-2 bl bb">Done</td>
											<td class="text-center pb-2 bb">Week</td>
											<td class="text-center pb-2 bb br">Response</td>
											<!-- <td>Info week</td>
										<td>Response</td> -->
											<td class="text-center pb-2 bb bl">Done</td>
											<td class="text-center pb-2 bb">Week</td>
											<td class="text-center pb-2 bb br">Response</td>
											<!-- <td>Reinfo week</td>
										<td>Response</td> -->
											<td class="bb"></td>
											<td class="text-center pb-2 bb bl">Done</td>
											<td class="text-center pb-2 bb">Week</td>
											<td class="text-center pb-2 bb br">Response</td>
											<!-- <td>Invite week</td>
										<td>Invite status</td> -->
											<td class="text-center pb-2 bb bl">Done</td>
											<td class="text-center pb-2 bb">Week</td>
											<td class="text-center pb-2 bb br">Status</td>
											<!-- <td>Plan week</td>
										<td>Plan status</td> -->
											<td class="bb"></td>
											<td class="bb"></td>
										</tr>
									</thead>
									<tbody id="namelistTable">

									</tbody>

								</table>

							</div>
							<div id="pagination" class="flex items-center  mt-5 hidden">
								<div class="flex-none">
									<div class="join">
										<button class="join-item btn btn-sm btn-accent p-0 w-8 h-8"
											onclick="goBack()"><i data-lucide="chevron-left"></i></button>
										<button id="pageNumber" class="join-item btn btn-sm text-base-content px-5"
											disabled>1</button>
										<button class="join-item btn btn-sm btn-accent p-0 w-8 h-8"
											onclick="goForward()"><i data-lucide="chevron-right"></i></button>
									</div>
								</div>
								<div class="flex-none ml-5">
									<p><span id="fromProspect"></span>-<span id="toProspect"></span> of <b><span
												id="nlCount">37</span></b> namelist</p>
								</div>
								<div class="flex-1 ">
									<div role="alert" class="alert alert-success alert-soft w-90 justify-self-end hidden">
										<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
											fill="none" viewBox="0 0 24 24">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
										</svg>
										<span id="alertContent"></span>
									</div>
								</div>
								
							</div>



						</div>
					</div>


					<!-- Content ends here-->
				</div>
			</div>
			<dialog id="addPersonModal" class="modal">
				<div class="modal-box w-110">
					<h3 class="text-lg font-bold ml-4">Add new person</h3>
					<fieldset class="fieldset w-full p-4">
						<label class="input input-md w-full">
							<span class="label">Name</span>
							<input id="addPersonName" type="text" class="grow" placeholder="enter name.." />
						</label>
						<label class="input input-md w-full mt-2">
							<span class="label">City</span>
							<input id="addPersonCity" type="text" class="grow" placeholder="enter city.." />
						</label>

						<div class="flex mt-2">
							<div class="flex-1">
								<label id="weekAddPerson" class="select select-md">
									<span class="label">Week added</span>
									<select id="addPersonWeekAdded">
									</select>
								</label>
							</div>
							<div class="flex-1 ml-3">
								<label class="select select-md">
									<span class="label">Zone</span>
									<select id="addPersonZone">
										<option>Office</option>
										<option>PG</option>
										<option>School</option>
										<option>College</option>
										<option>Others</option>
									</select>
								</label>
							</div>
						</div>
						<div class="modal-action">
							<form method="dialog">
								<!-- if there is a button in form, it will close the modal -->
								<button class="btn btn-soft" onclick="clearFormAddPerson()">Cancel</button>
								<button class="btn btn-primary ml-1" onclick="addPerson()">Add person</button>
							</form>
						</div>





					</fieldset>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>


			<%- include('components/scripts.ejs'); -%>
				<script src="/js/kiv.js"></script>

</body>

</html>