<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	<title>
		<%= title %> - Thunderbolt
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" href="/css/namelist.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5 mb-20">


				<div class="container mx-auto">
					<!-- Content goes here-->

					<div class="card card-border w-full bg-base-100 shadow-xl">
						<div class="card-body relative flex flex-wrap overflow-x-hidden">
							<div class="overflow-x-auto w-full pb-5">
								<table class="table table-xs table-pin-cols table-zebra">
									<thead data-theme="light">
										<tr>
											<td></td>
											<th class="text-center pt-3">Name</th>
											<td class="text-center pt-3">Week added</td>
											<td class="text-center pt-3">Zone</td>
											<td class="text-center pt-3">City</td>
											<td class="text-center pt-3">Chatting</td>
											<td class="text-center pt-3">Social Media</td>
											<td colspan="3" class="text-center pt-3 bl br bb">Info</td>
											<!-- <td>Info week</td>
									  <td>Response</td> -->
											<td colspan="3" class="text-center pt-3 bl br bb">Reinfo</td>
											<!-- <td>Reinfo week</td>
									  <td>Response</td> -->
											<td class="text-center pt-3">Meetup</td>
											<td colspan="3" class="text-center pt-3 bl br bb">Invite</td>
											<!-- <td>Invite week</td>
									  <td>Invite status</td> -->
											<td colspan="3" class="text-center pt-3 bl br bb">Plan</td>
											<!-- <td>Plan week</td>
									  <td>Plan status</td> -->
											<td class="text-center pt-3">Remarks</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<th class="bg-primary"></th>
											<td class=""></td>
											<td class=""></td>
											<td class=""></td>
											<td class=""></td>
											<td class=""></td>
											<td class="text-center pb-2 bl">Done</td>
											<td class="text-center pb-2">Week</td>
											<td class="text-center pb-2 br">Response</td>
											<!-- <td>Info week</td>
										<td>Response</td> -->
											<td class="text-center pb-2 bl">Done</td>
											<td class="text-center pb-2">Week</td>
											<td class="text-center pb-2 br">Response</td>
											<!-- <td>Reinfo week</td>
										<td>Response</td> -->
											<td></td>
											<td class="text-center pb-2 bl">Done</td>
											<td class="text-center pb-2 ">Week</td>
											<td class="text-center pb-2 br">Response</td>
											<!-- <td>Invite week</td>
										<td>Invite status</td> -->
											<td class="text-center pb-2 bl">Done</td>
											<td class="text-center pb-2">Week</td>
											<td class="text-center pb-2 br">Status</td>
											<!-- <td>Plan week</td>
										<td>Plan status</td> -->
											<td></td>
											<td></td>
										</tr>
									</thead>
									<tbody id="namelistTable">

									</tbody>

								</table>

							</div>
							<div class="join mt-6">
								<button class="join-item btn btn-sm btn-primary">«</button>
								<button class="join-item btn btn-sm">Page 22</button>
								<button class="join-item btn btn-sm btn-primary">»</button>
							</div>

						</div>
					</div>

					<!-- Content ends here-->
				</div>
			</div>


			<%- include('components/scripts.ejs'); -%>
				<script src="/js/namelist.js"></script>

</body>

</html>