<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	<title>
		<%= title %> - Thunderbolt
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" href="css/profile.css" type="text/css" />

</head>

<body>

	<%- include('components/header.ejs'); -%>
	<%- include('components/sidebar.ejs'); -%>

		<div class="wrapper flex mt-18 ml-25 mr-5">
				<div class="container grow mx-auto">
					<!-- Content goes here-->

					<div class="profile_card glass card w-full bg-base-100 shadow-xl" data-theme="light">
						<div class="card-body">
							<div class="card-actions justify-end">
								<button id="editProfileBtn" class="btn btn-primary h-8 w-8 p-0"><i
										data-lucide="pen-line" style="width: 18px; height: 18px;"></i></button>
							</div>
							<div class="card-body">
								<div class="flex w-full flex-col gap-4">
									<div class="flex items-center gap-4">
										<div class="indicator">
											<button id="openChangeAvatarModalBtn"
												class="indicator-item indicator-bottom btn btn-error h-8 w-8 p-0 "
												style="translate: var(--inidicator-x, -33%) -28%;" data-theme="dark"><i
													data-lucide="pen-line"
													style="width: 18px; height: 18px;"></i></button>
											<div class="h-56 w-56 shrink-0 mask mask-squircle ">
												<img id="avatar_profile" src="images/avatars/1.avif" />
											</div>
										</div>

										<div class="flex flex-col gap-4">
											<div class="h-12 w-100">
												<span id="profileName" class="text-4xl">Sayantan Tapadar</span>
											</div>
											<div class="h-2 w-full flex text-[14px] items-center">
												<div class="flex-none items-center">
													<i data-lucide="mail" class="h-4 w-4"></i>
												</div>
												<div class="flex-1 ml-1">
													<span id="profileEmail" class="flex-1">sayantan.tapadar9@gmail.com</span>
												</div>
											</div>
											<div class="h-4 w-full flex text-[14px] items-center">
												<div class="flex-none items-center">
													<i data-lucide="phone" class="h-4 w-4"></i>
												</div>
												<div class="flex-1 ml-1">
													<span class="opacity-60">+91-</span><span id="profilePhone" class="flex-1">9121001565</span>
												</div>
											</div>
											<div class="h-4 w-30">
												<span class="text-sm">
													<div class="badge badge-soft badge-accent" data-theme="dark">
														Active
													</div>
												</span>
											</div>
										</div>
									</div>
									<div id="avatarChangeAlert" role="alert" class="flex alert alert-success hidden">
										<div class="flex-none">
											<svg xmlns="http://www.w3.org/2000/svg"
												class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
													d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
											</svg>
										</div>
										<div class="flex-1">
											<span>Your avatar has been updated!</span>
										</div>


									</div>
								</div>

							</div>

						</div>
					</div>
					<div id="updateProfile" class="card card-border w-full bg-base-100 mt-10 shadow-sm hidden">
						<div class="card-body">
							<h2 class="card-title">Update Profile</h2>
							<div class="flex flex-row items-end gap-4">

								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Name</legend>
										<input type="text" class="input" placeholder="Enter your name" />
									</fieldset>
								</div>
								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Email</legend>
										<input type="email" class="input" placeholder="Enter your email" disabled />
									</fieldset>
								</div>
								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Phone</legend>
										<input type="text" class="input" placeholder="Enter your phone number" />
									</fieldset>
								</div>
								<div class="flex-1 pb-1"><button class="btn btn-primary">Update</button></div>
							</div>
						</div>
					</div>
					<div class="card card-border w-full bg-base-100 mt-10 shadow-sm">
						<div class="card-body">
							<h2 class="card-title">Change password</h2>
							<div class="flex flex-row items-end gap-4">

								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Current password</legend>
										<input type="password" class="input" placeholder="Enter current password" />

									</fieldset>
								</div>
								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">New password</legend>
										<input type="password" class="input" placeholder="Enter new password" />

									</fieldset>
								</div>
								<div class="flex-1">
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Confirm password</legend>
										<input type="password" class="input" placeholder="Re-enter new password" />

									</fieldset>
								</div>
								<div class="flex-1 pb-1"><button class="btn btn-primary">Change password</button></div>
							</div>
						</div>
					</div>
					<div class="card card-border bg-base-100 w-full mt-4 shadow-sm">
						<div class="card-body">
							<h2 class="card-title">Delete account</h2>
							<div class="flex flex-row items-end gap-4">
								<div class="flex-1">
									<p>Delete your account and remove all data (<span class="text-error">This action
											cannot be
											reversed</span>)</p>
								</div>
								<div class="flex-none">
									<button class="btn btn-soft btn-error">Delete Account</button>
								</div>

							</div>

						</div>
					</div>
					
					<!-- Content ends here-->
				</div>
		</div>
		<!-- Modal -->
		<dialog id="changeAvatarModal" class="modal">
			<div class="modal-box w-11/12 max-w-3xl">
				<h3 class="text-lg font-bold">Change avatar</h3>
				<div class="flex">
					<div class="flex-none">
						<div class="h-50 w-50 shrink-0 mask mask-squircle mt-5">
							<img id="changeAvatarModal_avatar_selected" src="images/avatars/1.avif" />
						</div>
					</div>
					<div class="flex-1 px-10">
						<span class="text-sm mt-5">Choose an avatar from the list below</span>
						<div id="avatarList" class="grid grid-cols-5 gap-4 mt-3">
							<div class="h-20 w-20 shrink-0 mask mask-circle">
								<img class="avatar_thunder border-4 border-purple-500" src="images/avatars/1.avif" />
							</div>
						</div>
					</div>

				</div>



				<div class="modal-action">

					<form method="dialog">
						<!-- if there is a button in form, it will close the modal -->

						<button class="btn btn-neutral">Close</button>
						<button id="saveChangeAvatar" class="btn btn-primary">Save changes</button>
					</form>
				</div>

			</div>
			<form method="dialog" class="modal-backdrop">
				<button>close</button>
			</form>
		</dialog>
		<dialog id="updateProfileModal" class="modal">
			<div class="modal-box">
				<h3 class="text-lg font-bold">Update Profile</h3>
				<fieldset class="fieldset w-full p-4">
					<label class="label">Name</label>
					<input id="updateProfileName" type="text" class="input w-full" placeholder="Enter your name" />

					<label class="label">Email</label>
					<input id="updateProfileEmail" type="email" class="input w-full" placeholder="Enter your email" disabled/>

					<label class="label">Phone</label>
					<input id="updateProfilePhone" type="text" class="input w-full" placeholder="Enter your phone number" />
				</fieldset>
				<div class="modal-action">
					<form method="dialog">
						<!-- if there is a button in form, it will close the modal -->
						<button class="btn btn-neutral">Close</button>
						<button id="updateProfileBtn" class="btn btn-primary">Update profile</button>
					</form>
				</div>

			</div>
			<form method="dialog" class="modal-backdrop">
				<button>close</button>
			</form>
		</dialog>
		<%- include('components/scripts.ejs'); -%>
			<script src="js/profile.js"></script>

</body>

</html>